<footer class="" itemscope itemtype="http://schema.org/WPFooter">
  <div class="py-4 text-sm">
    &copy; 2019 - 2020 Tushar Chandra
    <p style="margin-bottom: 4px">All opinions are my own.</p>
    <div class="publishby">Theme: custom built.</div>
  </div>

  {{- $social := .Site.Params.profile.social }}
  {{- with $social }}
  <ul class="">
    {{- range $name,$url := $social.brands }}
    <li class="inline text-xl pr-4">
      <a href="{{- $url | absURL }}" target="_blank" title="{{- $name }}">
        <i class="fab fa-{{$name}}"></i>
      </a>
    </li>
    {{- end }}
    {{- range $name,$url := $social.others }}
    <li class="inline text-xl pr-4">
      <a href="{{- $url | absURL }}" target="_blank" title="{{- $name }}">
        <i class="fas fa-{{$name}}"></i>
      </a>
    </li>
    {{- end }}

  </ul>
  {{- end }}
</footer>