<time datetime="{{ .Date }}" itemprop="datePublished">
    {{- .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
</time>
<a href="{{- .Permalink }}" class="ml-4" itemprop="url" target="_blank">
    {{- .Title }}
</a>
<span style="font-size: smaller;">
    {{ range $i, $e := .Params.tags -}}
    {{- if $i -}}, {{ end -}}
    {{- if eq $i 0 -}}<i class="fa fa-tags pl-4 pr-2 text-gray-600"></i>{{ end -}}
    <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ $e }}</a>
    {{- end -}}
</span>
<span style="font-size: smaller;">
    {{ with .Params.authors }}
    <br>
    (<i class="fa fa-users text-gray-600"></i>
    {{ delimit .  ", "}})
    {{ end }}
</span>