/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";

.max-w-8xl {
  max-width: 80rem;
}

a:hover {
  opacity: 50%;
}

table > thead > tr {
  border-bottom: 2px black;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #C6F6D5;
}


table {
  padding: 0;
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
}

table th,
table td {
  padding: 6px 13px;
}