{{- define "content"}}
{{- $tags := .Site.Taxonomies.tags }}
<main class="" role="main">
  <article class="rich-text pt-4" itemscope="">
    <h1 itemprop="name" class="hidden-xs">{{- .Title }}</h1>
    <div class="">
      {{- range $name, $taxonomy := $tags  }}
      <h3>
        <i class="fas fa-tag"></i> &nbsp;
        <a href="{{ .Page.Permalink }}">{{- $name }}</a>
      </h3>
      <div>
        {{- range $taxonomy}}
        {{- .Page.Scratch.Set "type" "link"}}
        <div class="py-1">{{- partial "item-post.html" . }}</div>
        {{- end }}
      </div>
      {{- end }}
    </div>
  </article>
</main>
{{- end }}